html[data-theme='light'] {
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #543fd7;
  --white: #ffffff;
  --gradient-bright: linear-gradient(
    90deg,
    #fd5c63 0%,
    #f2b8b5 43.94%,
    #f2b8b5 65.9%,
    #115ffb 100%
  );
}

html[data-theme='dark'] {
  --background-color: #212a2e;
  --text-color: #f7f8f8;
  --link-color: #828fff;
  --white: #ffffff;
  --gradient-bright: linear-gradient(
    90deg,
    #fd5c63 0%,
    #f2b8b5 43.94%,
    #f2b8b5 65.9%,
    #115ffb 100%
  );
  img {
    filter: brightness(0.8);
  }
  .hero-image {
    filter: brightness(0.8);
  }
  .hero-text--main,
  .hero-text--sub {
    filter: brightness(1);
  }
}
